<!DOCTYPE html>

<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for ('static', filename='drawscapes_scripts.js')}}"></script>
    <base target="_top">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='drawscapes_styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=0.2">

</head>

<body>
    <br> </br>
    <!-- Centered top menu with stages-->
    <div class=container6>
        <!--container centering items-->
        <div class="row">
            <div class="column" id="btn1" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn2" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn3" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn4" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn5" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn6" onclick="openTab('b6');"> </div>
            <div class="column" id="btn7" onclick="myPassLandUses(4);"> </div>
            <div class="column" id="btn8" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn9" style="color: #4a4a4a;"> </div>
            <div class="column" id="btn10" style="color: #4a4a4a;"> </div>
        </div>
    </div>

    <!-- central layout-->
    <div class="central-layout">
        <div role="group" class="btn-group" style="text-align:center">
            <canvas id="canvas" width="700" height="700"> </canvas>
            <!-- drawing canvas on the left-->
            <img id="feedback" width="700" height="700"> </img>
            <!--feedback area on the right-->
            <div id="overlay">
                <div id="ldr" class="loader"> </div>
            </div>
            <!--overlay loader-->
        </div>
    </div>

    <!-- full menus below  -->
    <div class=container6>
        <!--container centering items-->

        <!-- Stage 6: DRAW LAND USES  -->
        <div id="b6" class="containerTab" style="display:none;background:none">
            <div class="row">
                <div class="column_below" id="b6_1" onclick="myUnDo(4);">  <img id="undo" width="80" height="80"> </img> <br> UNDO</div>
                <div class="column_below" id="b6_2" onclick="newCanvasStroke(4);">  <img id="draw_use_food" width="80" height="80"> </img> <br> FOOD </div>
                <div class="column_below" id="b6_3" onclick="newCanvasStroke(5);">  <img id="draw_use_flexible" width="80" height="80"> </img> <br> FLEXIBLE SPACE </div>
                <div class="column_below" id="b6_4" onclick="newCanvasStroke(6);">  <img id="draw_use_public" width="80" height="80"> </img> <br> PUBLIC GATHERING </div>
                <div class="column_below" id="b6_5" onclick="newCanvasStroke(7);">  <img id="draw_use_green" width="80" height="80"> </img> <br> GREEN SPACE </div>                
                <div class="column_below" id="b6_6" onclick="myPopFunction(pop1);"> 
                    <div class="popup">                    
                        <span class="popuptext" id="myPopup1">
                            Think on landscape value of canals for public spaces <br>
                        </span> 
                        <img class = "lower_menu_button" id="tips"> </img> <br> TIPS 
                    </div>
                </div>
                <div class="column_below"> </div>
                <div class="column_below"> </div>
                <div class="column_below"> </div>
                <div class="column_below"> </div>
            </div>
        </div>


    </div>

</body>

<script>
    //--------------------------------------------------------------------------
    //brings titles into header buttons
    //--------------------------------------------------------------------------
    var element = document.getElementById("btn1");
    element.innerHTML = title1;

    var element = document.getElementById("btn2");
    element.innerHTML = title2;

    var element = document.getElementById("btn3");
    element.innerHTML = title3;

    var element = document.getElementById("btn4");
    element.innerHTML = title4;

    var element = document.getElementById("btn5");
    element.innerHTML = title5;

    var element = document.getElementById("btn6");
    element.innerHTML = title6;

    var element = document.getElementById("btn7");
    element.innerHTML = title7;

    var element = document.getElementById("btn8");
    element.innerHTML = title8;

    var element = document.getElementById("btn9");
    element.innerHTML = title9;

    var element = document.getElementById("btn10");
    element.innerHTML = title10;

    //--------------------------------------------------------------------------
    //imports images for canvas background, feedback screen and sets new canvas and colors buttons
    //--------------------------------------------------------------------------
    image_canvas.src = "{{url_for ('data', filename='ADDSHARE2') }}".replace("ADDSHARE2", '{{ imagename }}');
    image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", draw_land_use_instructions);
    ctx = document.getElementById('canvas').getContext("2d"); //imports data from previosly defined canvas
    document.addEventListener("load", newWhiteCanvas(0)); //Initializes canvas when background image is ready 
    image_canvas.onload = function() {
        color_buttons_neutral() //turns all the rest of buttons to neutral color
        document.getElementById("btn6").style.background = color1; // colors button in stage color
        image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", draw_land_use_instructions);
        document.getElementById("feedback").src = image_video.src;
        $('html').css('background', color1);
        newcanvas(image_canvas, 1, 4);
        document.getElementById("feedback").src = image_video.src;
        document.getElementById("undo").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/undo.jpg");
        document.getElementById("draw_use_food").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/draw_use_food.jpg");
        document.getElementById("draw_use_flexible").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/draw_use_flexible.jpg");
        document.getElementById("draw_use_public").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/draw_use_public.jpg");
        document.getElementById("draw_use_green").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/draw_use_green.jpg");        
        document.getElementById("tips").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/tips.jpg");
        openTab('b6')
        document.getElementById("overlay").style.visibility = "hidden";
        document.getElementById("ldr").style.visibility = "hidden";
    }


    //--------------------------------------------------------------------------
    // Reloads gif video. For some reason does not work if placed in .js file
    //--------------------------------------------------------------------------
    function myReplay(video_name){
              image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/".concat(video_name).concat('.gif'));
            document.getElementById("feedback").src = image_video.src;
    }


    function myBack() {
        window.location.replace("{{url_for ('drawscapes') }}");
    }

    //----------------------------------------------------------------------------------------------
    // Functions passing data to backend and bringing feedback to front end
    //----------------------------------------------------------------------------------------------
    function myPassLandUses(declared_style) {
        var list_pass = mySave(declared_style)
        if (list_pass[1].length > 1){ //checks that w are not passing a null array for evaluation
            var js_data = JSON.stringify(mySave(declared_style));
            document.getElementById("overlay").style.visibility = "visible";
            document.getElementById("ldr").style.visibility = "visible";
            $.ajax({
                url: '/drawscapes_save_land_uses',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: js_data
            }).done(function(result) {
                file_name = result;
                document.getElementById("overlay").style.visibility = "hidden";
                document.getElementById("ldr").style.visibility = "hidden";
                window.location.replace("{{url_for ('drawscapes_feedback', filename='ADDSHARE') }}".replace("ADDSHARE", file_name));
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log("fail: ", textStatus, errorThrown);
            });
        }
        else {
            image_back.src = "{{url_for ('static', filename='ADDSHARE') }}".replace("ADDSHARE", fail_image);
            document.getElementById("feedback").src = image_back.src;
        }
    }

</script>

</html>