<!DOCTYPE html>

<html>


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for ('static', filename='drawscapes_scripts.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='drawscapes_styles.css')}}">
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">

</head>


<style>
      .container
    {
        text-align:center;
        width:auto;
        height: 700px;
    }
</style>

<body>
  <br> </br>
  <!-- Centered top menu with stages--> 

  <div class=container6>
      <div class="row">
          <div class="column" id="btn1" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn2" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn3" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn4" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn5" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn6" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn7" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn8" style="color: #4a4a4a;"> </div>
          <div class="column" id="btn9"> </div>
          <div class="column" id="btn10" style="color: #4a4a4a;"> </div>
      </div>
  </div>

  <h1> 
    Thank you for helping  <br>
    DRAWSCAPES research project <br>
  </h1>
  
  <div class="container">
       <img id="overall_fast" width="700" height="700">
  </div>
  

</body>

<script>  

    //--------------------------------------------------------------------------
    //brings titles into header buttons
    //--------------------------------------------------------------------------
    var element = document.getElementById("btn1");
    element.innerHTML = title1;

    var element = document.getElementById("btn2");
    element.innerHTML = title2;

    var element = document.getElementById("btn3");
    element.innerHTML = title3;

    var element = document.getElementById("btn4");
    element.innerHTML = title4;

    var element = document.getElementById("btn5");
    element.innerHTML = title5;

    var element = document.getElementById("btn6");
    element.innerHTML = title6;

    var element = document.getElementById("btn7");
    element.innerHTML = title7;

    var element = document.getElementById("btn8");
    element.innerHTML = title8;

    var element = document.getElementById("btn9");
    element.innerHTML = title9;

    var element = document.getElementById("btn10");
    element.innerHTML = title10;



$('html').css('background', color1); //sets background color

color_buttons_neutral() //turns all the rest of buttons to neutral color

document.getElementById("btn9").style.background = color1; // colors button in stage color

document.getElementById("overall_fast").src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/overall_fast.gif");


</script>
</html>

<!--Useful Sources
For color choice: 
    https://www.google.com/search?q=color+picker
For dynamic rescaling of entire webpage on mobile devices (initial lines):
    https://css-tricks.com/snippets/html/responsive-meta-tag/ 
For quick html formatting in order to make it easier to follow:
    https://htmlformatter.com/
For GIF generation
    https://ezgif.com/maker
-->

